.card-body {
    background: #ffffff47;
    border: #369d3e;
    border-style: solid;
    border-width: thin;
}

.erro {
    color: #f17171;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 2px;
}