<app-menu></app-menu>
<div class="container">
    <div class="vh-100 align-items-center justify-content-evenly row">
        <div class="col-3">
            <div class="card card-body card-home">
                <div class="text-center">
                    <h6>Sessões de Jogo</h6>
                    <button class="btn btn-success" (click)="criarNovaSessao()">
                        Criar Nova
                    </button>
                    <br />
                    <button class="btn btn-light mt-3" (click)="listarSessoes()">
                        Listar
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card card-body card-home">
                <div class="text-center">
                    <h6>Personagens</h6>
                    <button class="btn btn-success">
                        Criar Novo
                    </button>
                    <br />
                    <button class="btn btn-light mt-3">
                        Listar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>