svg {
    width: 1.5em;
    cursor: pointer;
}

.top {
    width: 100vw;
    position: absolute;
    background: rgb(255 237 179 / 50%);
    height: 2em;
    z-index: 999;
}

.text {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}